name: CI - Run Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch: 

jobs:
  test:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore OutSystems.YAEmailValidator.UnitTests/OutSystems.YAEmailValidator.UnitTests.csproj

    - name: Run Tests
      run: |
        dotnet test OutSystems.YAEmailValidator.UnitTests/OutSystems.YAEmailValidator.UnitTests.csproj \
        --configuration Release \
        --no-restore \
        --nologo \
        --collect:"XPlat Code Coverage" \
        --results-directory ./coverage

    - name: Report Code Coverage
      uses: irongut/CodeCoverageSummary@v1.3.0
      with:
        filename: coverage/**/coverage.cobertura.xml
        badge: true
        fail_below_min: false
        format: markdown
        output: both

    - name: Write Summary
      run: cat code-coverage-results.md >> $GITHUB_STEP_SUMMARY

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with: 
         #Codecov requires a token for private repos, 
         #and it's highly recommended for public ones to avoid rate limits
        token: ${{ secrets.CODECOV_TOKEN }} 
        directory: ./coverage
        fail_ci_if_error: true # Stops the build if upload fails
        slug: Redeagle48/OutSystems.Extension.YAEmailValidator